<h1></h1>
<div class= 'container  w3-teal'>

<% if current_user.nil? %>
    <%= link_to '!로그인!', new_user_session_path %>
<% else %>
    <%= current_user.email %>
    <%= link_to '　　로그아웃', destroy_user_session_path, method: 'delete' %>
<% end %>
</div>

<h1></h1>
<div class='container'>
  <form class="form-horizontal">
  <div class="form-group">
       <label class="col-sm-1 control-label">| 제목 |</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @post.title %></p>
    </div>
  </div>
  <hr>
  <div class="form-group">
       <label class="col-sm-1 control-label">| 내용 |</label>
    <div class="col-sm-3">
      <p class="form-control-static"><%= @post.content %></p>
    </div>
  </div>
  </br></br>
  </form>
    <a class="btn btn-default" href="/" role="button" margin=auto>목록으로가기</a>
    <a class="btn btn-default" href="/posts/destroy/<%= @post.id %>" data-method="post " data-confirm="진짜 삭제 하겠습니까?" role="button" margin=auto>삭제</a>
    
<hr>
<div class="container" >
<form action='/posts/show/<%= @post.id %>/comments/create' method='post'> 
  
    <textarea name='input_comment'class="form-control" rows="1"placeholder="댓글을입력해주세요"></textarea>
    <input type='submit'>
    
</form>
</div>
<hr>
<% @comments.each do |comment| %>
<p><%= comment.content %>
<a href='/posts/show/<%= @post.id %>/comments/destroy/<%= comment.id %>' data-method='post' data-confirm='댓글을 삭제합니다.'>[X]</a>
</p>
<%end%>

<hr>
     </div>